.Vocs_Logo {
    height: 550% !important;
}

.footer {
    align-items: center;
    color: var(--vocs-color_text3);
    display: flex;
    flex-direction: column;
    font-size: 5px;
    line-height: 1.5em;
    width: 100%;
}